* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    background: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: hsl(0, 0%, 100%);
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.img {
    width: 230px;
    height: 230px;
    margin-top: 10px;
}

.img img {
    width: 230px;
    height: 230px;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin: 10px 10px;
}

.title h3 {
    font-family: 'Outfit', sans-serif; 
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.paragraph {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.paragraph p {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
}

@media screen and (width < 430px) {
    .card {
        width: 320px;
        height: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img {
        width: 295px;
        height: 295px;
        margin-top: 15px;
    }
    
    .img img {
        width: 295px;
        height: 295px;
        border-radius: 10px;
    }

    .title {
        text-align: center;
        margin: 10px 10px;
    }

    .title h3 {
        text-align: center;
        font-size: 23px;
        font-weight: 600;
    }

    .paragraph {
        margin-top: 5px;
        margin-bottom: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .paragraph p {
        font-size: 16px;
        font-weight: lighter;
        color: hsl(220, 15%, 55%);
    }
}



